@font-face {
    font-family: trebuc; /* Имя шрифта */
    src: url(fonts/trebuc.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: OpenSansCondensedL; /* Имя шрифта */
    src: url(fonts/OpenSansCondensed-Light.ttf); /* Путь к файлу со шрифтом */
}
/* default */
* {margin:0px; padding:0px; vertical-align:top;}
body {padding:20px; margin:0px;}
div {display:block; position:relative; vertical-align:top;}
li {text-decoration:none; list-style:none;vertical-align:top;}
a {	text-decoration:none; vertical-align:top;}

/* - default - */

.pano {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:10px 10px;
	border:1px solid #000;
	width:1200px;
	height:700px;
	user-select: none;
}

.target_center {
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 4px 1px rgb(0,0,0),inset 0px 0px 4px 1px rgb(255,255,255);
	width:81px;
	height:81px;
	border-radius:50%;
	z-index:999;
	user-select: none;pointer-events: none;
}
.target_center img {
	width:100%;
	height:100%;
}
.target_boom {
	position:absolute;
	display:none;
	z-index:10;
	width:200%!important;
	height:200%!important;
}
.target_settings {
    position: absolute;
    top: 28%;
    right: 0px;
    width: 180px;
    background: #42c1abc4;
    padding: 8px 18px;
    border-radius: 8%;
	z-index:100;
}
.target_settings div {
	position:relative;
	width:100%;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
}
.target_settings div p {
	display:inline-block;
	width:80px;
}
.target_settings div span  {
	display:inline-block;
	width:14px;
}
.target_settings input {
	text-align: center;
    width: 80px;
}
.target_settings textarea {
	right:0px;
}

.all_pano {
	padding: 20px 0px;
}
.all_pano p {
	/* display:inline-block; */
	padding: 4px 0px;
}
.all_pano a {
	display:inline-block;
	padding: 2px 18px;
	width:400px;
	background:#000;
	color:#42c1ab;
	border-radius:8px;
	text-align: center;
}

.pano_load {
	background:#222;
	padding: 10px  20px;
	color:#42c1ab;
	border-radius:8px;
}
.pano_load form{
	width: 340px;
}
.pano_load p{
	padding: 6px;
}
.pano_load span{
	display:inline-block;
	width:150px;
}
.pano_load input{
	text-align:center;
}
.pano_load input[type=text]{
	border: none;
    padding: 2px;
    background: #54d2b9;
    color: #4a4848
}
.pano_load input[type=submit]{
	border: none;
    background: #50c1ab;
    padding: 4px;
    color: #000;
    cursor: pointer;
	width: 100%;
}

.pano_load input[type=file]{
	border: none;
    background: #50c1ab;
    padding: 4px 0px;
    color: #000;
    cursor: pointer;
	width: 100%;
}


.warring {
	font-size:28px;
	color:#f76106;
	width:100%;
}

#hw_can_1{
	display:block;
	margin:0 auto;
	border:1px solid #000;
	width:1200px;
	height:800px;
}

.click {
	display: inline-block;
	cursor:pointer;
    margin: 10px auto;
    padding: 10px 20px;
    background: #2acde8;
}

.target {
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:200px;
	background:#f11;
}

.target-1 {
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:200px;
	background:#f11;
}

.target-2 {
	position:absolute;
	top:0;
	left:0;
	width:200px;
	height:200px;
	background:#111;
}
